<!-- Navbar & Hero Start -->
<div class="container-fluid nav-bar sticky-top px-0 px-lg-4 py-2 py-lg-0">

    <nav class="navbar navbar-expand-lg navbar-light">
        <a href="" class="navbar-brand p-0">
            <a href="@Url.Action("Index", "Home")" class="display-6 text-primary text-start">
                <i class="fas fa-car-alt me-3"></i></i>WissenRent</h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mx-auto py-0 text-center ">
                    <a href="@Url.Action("Index","Home")" class="nav-item nav-link active">Ana Sayfa</a>
                    <a href="@Url.Action("Index","About")" class="nav-item nav-link">Hakkımızda</a>
                    <a href="@Url.Action("Cars","Home")" class="nav-item nav-link">Araçlarımız</a>

                    @* <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Sayfalar</a>
                        <div class="dropdown-menu m-0">
                            <a href="cars.html" class="dropdown-item">Araçlarımız</a>
                            <a href="team.html" class="dropdown-item">Ekibimiz</a>
                            <a href="testimonial.html" class="dropdown-item">Yorumlar</a>
                        </div>
                    </div> *@
                    <a href="@Url.Action("Index","Contact")" class="nav-item nav-link">İletişim</a>
                </div>
                <a href="@Url.Action("Index","Home")" class="btn btn-primary rounded-pill py-2 px-4">Kirala</a>
            </div>
    </nav>

</div>
<!-- Navbar & Hero End -->