<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Cental - Car Rent Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

    <style>
        .card-img-top {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }
    </style>
</head>

<body>


    <!-- Car categories Start -->
    <div class="container-fluid content-wrapper" style="margin-top: 30px; padding: 20px;">
        <h2 class="mb-4">Araçlarımız</h2>
        <a href="@Url.Action("Index", "Home")" class="btn btn-secondary mb-4">Geri Dön</a>

        <div class="row g-4"> <!-- g-4 class ile daha iyi boşluklar eklenir -->
            @foreach (var car in Model)
            {
                <div class="col-lg-4 col-md-6 mb-4"> <!-- responsive grid yapılandırması -->
                    <div class="card shadow-sm border-light">
                        <!-- Kartlara gölge ve border eklemek daha şık bir görünüm sağlar -->
                        <img src="@car.ImageUrl" class="card-img-top" alt="@car.Make @car.Model">
                        <div class="card-body">
                            <h5 class="card-title">@car.Make @car.Model</h5>
                            <p class="card-text">
                                @(car.IsAutomatic ? "Otomatik" : "Manuel") - @(car.IsAirConditioned ? "Klimalı" :
                                "Klímasız")
                        </p>
                        <p class="card-text">Fiyat: ₺@car.PricePerDay / Günlük</p>
                        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Kirala</a>

                    </div>
                </div>
            </div>
                        }
        </div>
    </div>

    <!-- Car categories End -->




    <!-- Back to Top -->
    <a href="#" class="btn btn-secondary btn-lg-square rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>


    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>